@model NasaImage;

@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div>

        <h2>Nasa's Image of the Day!</h2>

    </div>
    <div class="col-md-3">
        <!-- <h4>Save to your favorites!</h4> -->
    </div>
    <div class="col-md-3">
        <!-- <h2>View your past favorites</h2> -->
    </div>
</div>
<center><img src=@Model.Url></center>